.space-top {
    margin-top: 20px;
}

.titulo {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

.descr {
    font-size: 15px;
}

.img-style{
    margin: auto;
    display:block;
    width: 150px;
    height: 150px;
    padding-top: 40px;
}