.titule {
    font-size: medium;
}

.center {
    margin-top: 20px;
}

.space-item {
    margin-top: 25px;
    margin-bottom: 30px;
}

.small-img {
    width: 150px;
    height: 150px;
}

.center-img {
    margin:auto;
    display:block;
}